.modalFooterClassName {
  border: none !important;
  display: block !important;
}

.userInformationHeading {
  font-size: 28px !important;
  font-weight: bold !important;
  color: #5a5a5a !important;
}

.Subheadings {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #5a5a5a !important;
}

.PopulatedData {
  font-size: 12px !important;
}

.dropdown-countrylist {
  max-height: 18vh !important;
}
