.modalFooterClassName-Invoice {
  border: none !important;
  display: block !important;
}

.modalBody-class-Name {
  padding: 10px 60px !important;
  height: 48vh !important;
}

.send-invoice-heading {
  font-size: 30px;
  font-family: "MontserratSemiBold-600";
  color: #6172d6;
}

.send-invoice-subHeading {
  font-size: 12px;
  font-family: "MontserratSemiBold-600";
  color: #6172d6;
}

.send-invoice-subheading-2 {
  font-size: 12px;
  font-family: "MontserratSemiBold-600";
  color: #5a5a5a;
}

.sendButtonOrganizationEdit {
  padding: 12px 30px !important;
  font-size: 12px !important;
  font-family: "MontserratSemiBold-600" !important;
  color: #ffffff !important;
  background: #6172d6 !important;
  border-radius: 4px !important;
}

.sendButtonOrganizationEdit:is(:hover, :focus, :active, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  color: #ffffff !important;
  background: #6172d6 !important;
  border-radius: 4px !important;
}

.custom-table-row {
  display: flex;
  margin-bottom: 8px; /* Add margin between rows if needed */
}

.custom-table-cell {
  flex: 1;
  padding: 8px; /* Add padding for better appearance */
  border: 1px solid #ddd; /* Add border styling */
}

.custom-table-header {
  font-weight: bold;
}

.column-container {
  display: flex;
  flex-direction: column;
}
