.modalFooterClassName {
  border: none !important;
  display: block !important;
}

.ConfirmationModalHeading {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #6172d6 !important;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-family: "MontserratSemiBold-600" !important;
}

.ProceedBtnStyles {
  padding: 12px 30px !important;
  background: #6172d6 !important;
  border: none !important;
  font-family: "MontserratSemiBold-600" !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  color: #fff !important;
}

.ProceedBtnStyles:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  background: #6172d6 !important;
  font-family: "MontserratSemiBold-600" !important;
  border: none !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  color: #fff !important;
}

.CancelBtnStyles {
  padding: 12px 30px !important;
  font-family: "MontserratSemiBold-600" !important;
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  color: #5a5a5a !important;
}

.CancelBtnStyles:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  font-family: "MontserratSemiBold-600" !important;
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  color: #5a5a5a !important;
}
