/* .container {
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.table-header {
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
}

.table-header .col-md-3,
.table-header .col-md-2 {
  padding: 8px;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.custom-panel {
  background: white;
}

.ant-collapse-content-box {
  padding: 0;
}

.ant-collapse-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.col-md-3,
.col-md-2 {
  flex: 1;
}

.col-md-3 {
  font-weight: bold;
}

.col-md-2 {
  font-size: 0.9em;
}

.text-right {
  display: flex;
  justify-content: flex-end;
}

.mr-2 {
  margin-right: 8px;
}

.ant-table {
  border: none !important;
}

.ant-table td {
  border: none !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  order: 1;
  font-size: 24px;
}

.ant-collapse-item {
  margin-bottom: 16px;
}

.ant-collapse-item > .ant-collapse-header {
  min-height: 60px;
} */
