.modalFooterClassName {
  border: none !important;
  display: block !important;
}

.ChangePasswordHeading {
  font-size: 28px !important;
  font-weight: bold !important;
  color: #5a5a5a !important;
}

.SubHeadingsPassword {
  font-size: 12px !important;
  font-weight: bold !important;
  color: #5a5a5a !important;
}

.passwordCheckBox {
  background-color: #e6eaf7;
  padding: 35px 20px;
  border-radius: 4px;
  font-size: 12px !important ;
  margin-top: 20px !important;
}

.UpdateBtnStyles {
  padding: 12px 30px !important;
  background: #5a5a5a !important;
  border: none !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  color: #fff !important;
}

.UpdateBtnStyles:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  background: #5a5a5a !important;
  border: none !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  color: #fff !important;
}

.RevertBtnStyles {
  padding: 12px 30px !important;
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  color: #5a5a5a !important;
}

.RevertBtnStyles:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  color: #5a5a5a !important;
}
