.HeadingViewORganization {
  font-weight: bold !important;
  font-size: 26px !important;
  color: #6172d6 !important;
}

.Search_Bar_icon_class {
  cursor: pointer;
  top: 10px;
  position: absolute;
  left: auto;
  right: 10px;
}

.SearchBox {
  width: 523px !important;
  height: auto !important;
  min-height: 260px !important;
  background: #ffffff !important;
  position: absolute;
  right: 0;
  z-index: 1 !important;
  top: 39px !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}

.crossIconClass {
  cursor: pointer !important;
}

.SearchBoxResetButton {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1 !important;
  background: #fff !important;
  color: #5a5a5a !important;
  border-radius: 4px !important;
}

.SearchBoxResetButton:is(:hover, :focus, :active, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1 !important;
  background: #fff !important;
  color: #5a5a5a !important;
  border-radius: 4px !important;
}

.SearchButton {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  background: #6172d6 !important;
  color: #fff !important;
  border-radius: 4px !important;
}

.SearchButton:is(:hover, :focus, :active, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  background: #6172d6 !important;
  color: #fff !important;
  border-radius: 4px !important;
}

.EditIcon {
  cursor: pointer !important;
}

.Export_To_Excel {
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  width: 100% !important;
  padding: 8px 10px !important;
  height: 39px !important;
  display: flex !important;
  justify-content: center !important;
  gap: 5px !important;
}
