@font-face {
  font-family: "montserrat-100";
  src: url("./assets/fonts-new/montserrat-100-webfont.woff"),
    url("./assets/fonts-new/montserrat-100-webfont.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "montserrat-200";
  src: url("./assets/fonts-new/montserrat-200-webfont.woff"),
    url("./assets/fonts-new/montserrat-200-webfont.woff2");
  font-weight: 200;
}

@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts-new/montserrat-300-webfont.woff"),
    url("./assets/fonts-new/montserrat-300-webfont.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "montserrat-500";
  src: url("./assets/fonts-new/montserrat-500-webfont.woff"),
    url("./assets/fonts-new/montserrat-500-webfont.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("./assets/fonts-new/montserrat-700-webfont.woff"),
    url("./assets/fonts-new/montserrat-700-webfont.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "montserrat-Boldest";
  src: url("./assets/fonts-new/montserrat-900-webfont.woff"),
    url("./assets/fonts-new/montserrat-900-webfont.woff2");
  font-weight: 900;
}

@font-face {
  font-family: "montserrat-italic";
  src: url("./assets/fonts-new/montserrat-italic-webfont.woff"),
    url("./assets/fonts-new/montserrat-italic-webfont.woff2");
}

@font-face {
  font-family: "montserrat-regular";
  src: url("./assets/fonts-new/montserrat-regular-webfont.woff"),
    url("./assets/fonts-new/montserrat-regular-webfont.woff2");
  font-weight: 400;
}

/* Arabic style fonts */

@font-face {
  font-family: "IBMPlexSansArabic-Bold";
  src: url("./assets/fonts/IBMPlexSansArabic-Bold.ttf");
}

@font-face {
  font-family: "IBMPlexSansArabic-ExtraLight";
  src: url("./assets/fonts/IBMPlexSansArabic-ExtraLight.ttf");
}

@font-face {
  font-family: "IBMPlexSansArabic-Light";
  src: url("./assets/fonts/IBMPlexSansArabic-Light.ttf");
}

@font-face {
  font-family: "IBMPlexSansArabic-Medium";
  src: url("./assets/fonts/IBMPlexSansArabic-Medium.ttf");
}

@font-face {
  font-family: "IBMPlexSansArabic-Regular";
  src: url("./assets/fonts/IBMPlexSansArabic-Regular.ttf");
}

@font-face {
  font-family: "IBMPlexSansArabic-SemiBold";
  src: url("./assets/fonts/IBMPlexSansArabic-SemiBold.ttf");
}

@font-face {
  font-family: "IBMPlexSansArabic-Thin";
  src: url("./assets/fonts/IBMPlexSansArabic-Thin.ttf");
}

.IBMPlexSansArabic-Bold {
  font-family: "IBMPlexSansArabic-Bold" !important;
}

.IBMPlexSansArabic-ExtraLight {
  font-family: "IBMPlexSansArabic-ExtraLight" !important;
}

.IBMPlexSansArabic-Light {
  font-family: "IBMPlexSansArabic-Light" !important;
}

.IBMPlexSansArabic-Medium {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.IBMPlexSansArabic-Regular {
  font-family: "IBMPlexSansArabic-Regular" !important;
}

.IBMPlexSansArabic-SemiBold {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.IBMPlexSansArabic-Thin {
  font-family: "IBMPlexSansArabic-Thin" !important;
}

.Montserrat {
  font-family: "montserrat-regular" !important;
}

.Montserrat-Italic {
  font-family: "montserrat-italic" !important;
}

.MontserratThin-100 {
  font-family: "montserrat-100" !important;
}

.MontserratLight-300 {
  font-family: "montserrat" !important;
}

.MontserratMedium-500 {
  font-family: "montserrat-500" !important;
}

.MontserratSemiBold-700 {
  font-family: "montserrat-bold" !important;
}

.MontserratBold-900 {
  font-family: "montserrat-Boldest" !important;
}

body {
  background-color: #f6fafd !important;
  font-family: "montserrat-regular" !important;
}

::-webkit-scrollbar {
  width: 0.5rem !important;
  border-radius: 20px !important;
  background-color: #f2f2f2 !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  background: #ccc !important;
  margin-left: -15px !important;
}

.dropdown-countrylist .ReactFlagsSelect-module_selectBtn__19wW7 {
  padding: 3px 10px !important;
}

.ant-table-thead > tr * {
  color: #6172d6 !important;
  font-family: "MontserratSemiBold-600";
  font-size: 14px !important;
  /* padding: 20px !important; */
}

body[dir="rtl"] .ant-table-thead > tr * {
  color: #6172d6 !important;
  font-family: "IBMPlexSansArabic-Light";
  font-size: 14px !important;
  /* padding: 20px !important; */
}

.datepicker_input {
  padding: 0px 45px !important;
  border-radius: 4px !important;
  border: 1px solid #ced4da;
  width: 100% !important;
  height: 39px !important;
  font-weight: 500;
  font-size: 12px !important;
  font-family: "MontserratSemiBold-600";
  cursor: pointer;
}

.datepicker_input:is(:hover, :focus, :focus-visible, :visited) {
  outline: none !important;
}

.datePickerTodoCreate2 {
  border: 1px solid #e1e1e1 !important;
  font-family: "MontserratSemiBold-600" !important;
}

.userlogin_history_tableP.ant-table-wrapper .ant-table-tbody tr td {
  font-weight: 600;
  border-bottom: 1px solid #e1e1e1 !important;
}

.Table.ant-table-wrapper .ant-table-tbody tr td {
  border-bottom: 1px solid #e1e1e1 !important;
}

td.ant-table-cell.random {
  padding: 5px 8px !important;
  text-align: center;
}

.TrialTableDashboard.ant-table-wrapper .ant-table-tbody tr td {
  border-bottom: 1px solid #e1e1e1 !important;
}

.TrialExtendedDashboard.ant-table-wrapper .ant-table-tbody tr td {
  border-bottom: 1px solid #e1e1e1 !important;
}

.EssentialTable.ant-table-wrapper .ant-table-tbody tr td {
  border-bottom: 1px solid #e1e1e1 !important;
}

.EssentialTable.ant-table-wrapper .ant-table-tbody tr td {
  border-bottom: 1px solid #e1e1e1 !important;
}

.userlogin_history_tableP.ant-table-wrapper .ant-table-thead tr {
  /* border-bottom: 1px solid #ccc !important; */
  padding: 20px !important;
}

/* :where(.css-dev-only-do-not-override-dkbvqv)[class^="ant-layout"],
:where(.css-dev-only-do-not-override-dkbvqv)[class*=" ant-layout"] {
  background-color: #f6fafd;
} */

.cursor-pointer {
  cursor: pointer;
}

.navbar-nav {
  font-family: "montserrat-regular";
}

body[dir="rtl"] .navbar-nav {
  font-family: "IBMPlexSansArabic-Medium";
}

p.user-name {
  font-family: "montserrat-bold";
}

img.user-img {
  border-radius: 50%;
}

td.ant-table-cell {
  border-bottom: none !important;
}

span.Main-Title {
  color: #6172d6;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  font-family: "MontserratSemiBold-600";
}

body[dir="rtl"] span.Main-Title {
  color: #6172d6;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  font-family: "IBMPlexSansArabic-SemiBold";
}

span.Sub-Title {
  font-family: "Montserrat";
  font-size: 10px;
  color: #5a5a5a;
}

section.oops.d-flex.flex-column.align-items-center.justify-content-center {
  padding: 63px 0px;
}

span.Main-Title.UserLogin {
  color: #6172d6;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  font-family: "MontserratBold-700";
}

span.Sub-Title {
  font-family: "Montserrat";
  font-size: 12px;
  color: #5a5a5a;
}

body[dir="rtl"] span.Sub-Title {
  font-family: "IBMPlexSansArabic-Light";
  font-size: 12px;
  color: #5a5a5a;
}

span.Main-Title.Table {
  color: #6172d6;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  font-family: "MontserratSemiBold-600";
}

body[dir="rtl"] span.Main-Title.Table {
  color: #6172d6;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  font-family: "IBMPlexSansArabic-Medium";
}

span.Sub-Title.Table {
  font-family: "Montserrat";
  font-size: 10px;
  color: #5a5a5a;
}

body[dir="rtl"] span.Sub-Title.Table {
  font-family: "IBMPlexSansArabic-Light";
  font-size: 10px;
  color: #5a5a5a;
}

/* Snackbar Notification CSS */
.MuiAlert-filledError.notification-error {
  width: 100% !important;
  background: #cc0000 !important;
  position: relative !important;
  box-shadow: none !important;
}

.MuiAlert-filledSuccess.notification-success {
  width: 100% !important;
  background: #55c5d1 !important;
  position: relative !important;
  box-shadow: none !important;
}

body[dir="rtl"] .MuiAlert-filledSuccess.notification-success {
  width: 100% !important;
  background: #55c5d1 !important;
  position: relative !important;
  box-shadow: none !important;
  right: 10px !important;
  left: auto !important;
}

.MuiSnackbar-anchorOriginTopLeft .MuiAlert-icon {
  margin-right: auto !important;
  margin-left: 12px !important;
}

body[dir="rtl"] .MuiSnackbar-anchorOriginTopLeft .MuiAlert-icon {
  margin-left: auto !important;
  margin-right: 12px !important;
}

.MuiSnackbar-anchorOriginTopLeft .MuiAlert-action {
  display: flex !important;
  align-items: center !important;
  margin-left: -8px !important;
  margin-right: auto !important;
  padding-left: auto !important;
  padding-right: 16px !important;
}

body[dir="rtl"] .MuiSnackbar-anchorOriginTopLeft .MuiAlert-action {
  display: flex !important;
  align-items: center !important;
  margin-right: -8px !important;
  margin-left: auto !important;
  padding-right: auto !important;
  padding-left: 16px !important;
}

.MuiAlert-filledSuccess.notification-email {
  width: 100% !important;
  background: #cc0000 !important;
  position: relative !important;
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: none !important;
}

.TrialTableDashboard .ant-table-thead > tr * {
  font-size: 12px !important;
  padding: 1px 0px !important;
  font-family: "MontserratMedium-500";
  font-weight: 600;
}

body[dir="rtl"] .TrialTableDashboard .ant-table-thead > tr * {
  font-size: 12px !important;
  padding: 1px 0px !important;
  font-family: "MontserratMedium-500";
  font-weight: 600;
}

.TrialExtendedDashboard .ant-table-thead > tr * {
  font-size: 12px !important;
  padding: 1px 2px !important;
  font-family: "MontserratMedium-500";
  font-weight: 600;
}

body[dir="rtl"] .TrialExtendedDashboard .ant-table-thead > tr * {
  font-size: 12px !important;
  padding: 1px 0px !important;
  font-family: "MontserratMedium-500";
  font-weight: 600;
}

.EssentialTable .ant-table-thead > tr * {
  font-size: 12px !important;
  padding: 1px 0px !important;
  font-family: "MontserratMedium-500";
  font-weight: 600;
}

body[dir="rtl"] .EssentialTable .ant-table-thead > tr * {
  font-size: 12px !important;
  padding: 1px 0px !important;
  font-family: "MontserratMedium-500";
  font-weight: 600;
}

.rmdp-day.rmdp-today span {
  background-image: linear-gradient(#4bdbde, #5f7ad7) !important;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #e1e1e1 !important;
  box-shadow: none !important;
  color: #fff !important;
}

.ant-table-wrapper table {
  width: 100%;
  text-align: start;
  border-radius: 8px 8px 0 0;
  /* border-collapse: collapse; */
  border-spacing: 0;
}
