.LeftBoxDashboard {
  padding: 5px 20px !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  background: #fff !important;
  height: auto !important;
  min-height: 80vh !important;
}

.RightBoxDashboard {
  padding: 5px 20px !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  background: #fff !important;
  height: auto !important;
  min-height: 80vh !important;
}

.BillingDueHeading {
  font-size: 20px !important;
  color: #6172d6 !important;
  font-weight: 600 !important;
}

body[dir="rtl"] .BillingDueHeading {
  font-size: 20px !important;
  color: #6172d6 !important;
  font-weight: 600 !important;
}

/* Dropdown.module.css */

.up {
  border: 1px solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  cursor: pointer !important;
  margin-top: 5px;
  margin-left: 5px;
}

.down {
  border: 1px solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  cursor: pointer !important;
  margin-left: 5px;
}

.dropdown-list-item {
  color: #5a5a5a !important;
  font-size: 12px !important;
  height: auto !important;
  border-bottom: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  padding: 3px 0;
  cursor: pointer !important;
}

.dropdown-list-item:last-child {
  border-bottom: none !important;
}

.dropdown_list {
  background: #fff !important;
  z-index: 1 !important;
  padding: 10px;
  position: absolute;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
}

.dropdown_list {
  height: 40vh !important;
  overflow-x: hidden !important;
}

.dropdown_list::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.dropdown_list::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.MonthName {
  font-size: 14px !important;
  color: #5a5a5a !important;
  cursor: pointer !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  font-weight: 600 !important;
  margin-top: 5px;
}

.PrizeStyles {
  color: #f16b6b !important;
  font-size: 40px !important;
  font-weight: 700 !important;
}

body[dir="rtl"] .PrizeStyles {
  color: #f16b6b !important;
  font-size: 40px !important;
  font-weight: 500 !important;
}

.PrizeSubHeading {
  color: #5a5a5a !important;
  font-size: 12px !important;
  font-weight: 700 !important;
}

body[dir="rtl"] .PrizeSubHeading {
  color: #5a5a5a !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

.OrgazationStatusHeading {
  color: #6172d6 !important;
  font-size: 20px !important;
  font-weight: 400 !important;
}

body[dir="rtl"] .OrgazationStatusHeading {
  color: #6172d6 !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}

.OuterBoxPieChart {
  height: auto !important;
  width: 100% !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  background: #fff !important;
  cursor: pointer !important;
}

.OuterBoxPieChart:is(:hover) {
  height: auto !important;
  width: 100% !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  background: #fff !important;
  cursor: pointer !important;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
}

.OuterBoxPieChartActive {
  height: auto !important;
  width: 100% !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  background: #fff !important;
  cursor: pointer !important;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.42);
}

.ButtonsDashboard {
  padding: 5px 20px !important;
  border: 1px solid #e1e1e1 !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  font-weight: 700 !important;
}

body[dir="rtl"] .ButtonsDashboard {
  padding: 5px 20px !important;
  border: 1px solid #e1e1e1 !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  font-weight: 500 !important;
}

.ButtonsDashboard:is(:hover, :focus, :focus-visible, :active) {
  padding: 5px 20px !important;
  border: 1px solid #e1e1e1 !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  background: #6172d6 !important;
  color: #fff !important;
}

.activeEssentialButton {
  padding: 5px 20px !important;
  border: 1px solid #e1e1e1 !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  background: #6172d6 !important;
  color: #fff !important;
  font-weight: 700 !important;
}

body[dir="rtl"] .ButtonsDashboard:is(:hover, :focus, :focus-visible, :active) {
  padding: 5px 20px !important;
  border: 1px solid #e1e1e1 !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  background: #6172d6 !important;
  color: #fff !important;
  font-weight: 500 !important;
}

.Search_Bar_icon_class {
  cursor: pointer;
  top: 10px;
  position: absolute;
  left: auto;
  right: 10px;
}

.dashboard-table-insidetext {
  color: #5a5a5a !important;
  font-size: 12px !important;
  font-weight: 700 !important;
}

body[dir="rtl"] .dashboard-table-insidetext {
  color: #5a5a5a !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

.dashboard-tabletext {
  color: #5a5a5a !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  white-space: nowrap !important;
}

.dashboard-user-dates {
  color: #505050 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

.Export_To_Excel_dashboard {
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  padding: 7px 15px !important;
  height: 39px !important;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  margin: 0 !important;
  gap: 5px !important;
  font-weight: 500 !important;
  cursor: pointer !important;
}

.Export_To_Excel_dashboardTableButton {
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  padding: 7px 15px !important;
  height: 39px !important;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  margin: 0 !important;
  gap: 5px !important;
  font-weight: 500 !important;
  cursor: pointer !important;
}

body[dir="rtl"] .Export_To_Excel_dashboardTableButton {
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  padding: 7px 15px !important;
  height: 39px !important;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  margin: 0 !important;
  gap: 5px !important;
  font-weight: 500 !important;
  cursor: pointer !important;
}

body[dir="rtl"] .Export_To_Excel_dashboard {
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  padding: 7px 15px !important;
  height: 39px !important;
  display: flex !important;
  justify-content: center !important;
  gap: 5px !important;
  font-weight: 500 !important;
  cursor: pointer !important;
}

.send-invoice-button {
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  color: #505050;
  font-size: 12px !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  white-space: nowrap;
}

.send-invoice-button:hover {
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  color: #505050;
  font-size: 12px !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  white-space: nowrap;
}

body[dir="rtl"] .send-invoice-button {
  font-weight: 600 !important;
  white-space: nowrap;
}

.ContainerClass {
  width: 98% !important;
}

.ExportBUtton {
  padding: 12px 10px !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  background: #fff !important;
  color: #5a5a5a !important;
  display: flex !important;
  gap: 5px !important;
  align-items: center !important;
  font-weight: 600 !important;
}

.ExportBUtton:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 10px !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  background: #fff !important;
  color: #5a5a5a !important;
  font-weight: 600 !important;
}

body[dir="rtl"] .ExportBUtton {
  font-weight: 600 !important;
  white-space: nowrap;
  padding: 12px 17px !important;
}
