.sign-in-text {
  color: #6172d6 !important;
  font-weight: 500 !important;
  font-size: 32px !important;
  text-align: center !important;
}

.LoginButton {
  padding: 12px 30px !important;
  border-radius: 4px !important;
  color: #fff !important;
  background: #6172d6 !important;
  font-size: 14px !important;
  border: none !important;
  width: 100% !important;
}

.LoginButton:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  border-radius: 4px !important;
  color: #fff !important;
  background: #6172d6 !important;
  font-size: 14px !important;
  border: none !important;
  width: 100% !important;
}

.passwordIcon {
  position: absolute !important;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

body[dir="rtl"] .passwordIcon {
  position: absolute !important;
  right: 86%;
  left: 0px;
  cursor: pointer;
  top: 10px;
}

.Remember-password {
  display: flex !important;
  align-items: center !important;
  color: #5a5a5a !important;
  font-size: 16px !important;
  font-family: "MontserratMedium-500" !important;
}

body[dir="rtl"] .Remember-password {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.errorMessage-inLogin {
  margin: 0px;
  height: 13px;
  color: #f16b6b;
  visibility: visible;
  font-family: "MontserratMedium-500" !important;
}

body[dir="rtl"] .errorMessage-inLogin {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.errorMessage-inLogin_hidden {
  visibility: hidden;
  margin: 0px;
  height: 13px;
  color: #f16b6b;
  font-family: "MontserratMedium-500" !important;
}

body[dir="rtl"] .errorMessage-inLogin_hidden {
  font-family: "IBMPlexSansArabic-Medium" !important;
}
